{% extends 'main/base.html' %}
{% load static %}


{% block header %}
<title>About us | Learn Coding In Odia</title>
{% endblock %}

{% block content %}
<div class="container mt-3 mb-3" style="text-align: center">
    <h1 style="color: #00378a;">About Us</h1>
</div>
<!-----------------------------DESKTOP VIEW------------------------------>
<div class="container mt-5 mb-5 desktop-about">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img class="article-img" style="width: 95%; height: 90%" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602270204/Resources/Our_Vision_e1cahr.jpg">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h4>Our Vision</h4>
            <p class="article-content">Solving the problems of the people that we had faced ourselves is the main motto of our team. Our goal is to make it easier for the upcoming students to learn to code and excel in their lives. There is no better way to learn other than learning things in your own native language, <b>ODIA</b>. Thus, we aim at providing all the educational facilities at free of cost in our own native language.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h4>Who We Are?</h4>
            <p class="article-content">We are a small group of Engineering students who have come forward to educate the upcoming youth of our state, <b>ODISHA</b>, and help them in achieving their dreams by teaching them the required technical skills that the present world demands. We are providing the education facility completely free of cost so that each and every student has access to it.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img class="article-img" style="width: 95%;" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602270344/Resources/Who_we_are_uohx2r.jpg">
        </div>
    </div>
</div>
<div style="text-align: center;" class="mt-3">
    <a href="{% url 'donation' %}"><h4>IF YOU LIKE OUR WORK AND WANT US TO GROW TOGETHER WITH YOU. GIVE A MINUTE AND VISIT THIS PAGE. :)</h4></a>
</div>
<!-------------------------TEam Part------------------------------>
<div class="container">
<section class="team-section text-center my-5">
    <h1 class="h1-responsive font-weight-bold">Our Amazing Team</h1>
    <p class="grey-text w-responsive mx-auto mb-5 article-content">We feel proud to present our entire team who have worked day and night to bring what we have brought for you today. We really appreciate their dedication and hardwork for working with us as a team.</p>
    <div class="row mb-5">
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601988702/Team%20Photo/Bhabatosh_bpkwds.jpg" class="rounded-circle z-depth-1"
                alt="Sample avatar" style="height: 65%; width: 65%; box-shadow: 5px 5px 20px rgb(66 77 84)">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Bhabatosh Mahanta</h5>
            <p class="text-uppercase blue-text mb-0"><strong>Founder & CEO</strong></p>
            <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT Bhubaneswar</p>
            <ul class="list-unstyled mb-0">
                <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/bhabatosh.mahanta.3" style="color: black; text-decoration: none;">
                  <i class="fab fa-facebook-f fb blue-text"> </i>
                </a>
                <a class="p-2 fa-lg tw-ic" href="https://twitter.com/_bhabatosh_" style="color: black; text-decoration: none;">
                  <i class="fab fa-twitter tt blue-text"> </i>
                </a>
                <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/_bhabatosh_27_/" style="color: black; text-decoration: none;">
                  <i class="fab fa-instagram insta blue-text"> </i>
                </a>
                <a class="p-2 fa-lg ins-ic" href="https://www.linkedin.com/in/bhabatosh-mahanta-a052b71a0/" style="color: black; text-decoration: none;">
                  <i class="fab fa-linkedin linkedin blue-text"> </i>
                </a>
                <a class="p-2 fa-lg ins-ic" href="https://github.com/bhabatosh27" style="color: black; text-decoration: none;">
                  <i class="fab fa-github blue-text"> </i>
                </a>
              </ul>
          </div><div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601982943/Team%20Photo/Rashmi_Ranjan_Das_uavlap.jpg" class="rounded-circle z-depth-1"
                alt="Sample avatar" style="height: 65%; width: 65%; box-shadow: 5px 5px 20px rgb(66 77 84)">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Rashmi Ranjan Das</h5>
            <p class="text-uppercase blue-text mb-0"><strong>Co-Founder & Web Developer</strong></p>
            <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT Bhubaneswar</p>
            <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/rashmiranjan.das.75286" style="color: black; text-decoration: none;">
                <i class="fab fa-facebook-f fb blue-text"> </i>
              </a>
              <a class="p-2 fa-lg tw-ic" href="https://twitter.com/rox_rashmi" style="color: black; text-decoration: none;">
                <i class="fab fa-twitter tt blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/_r.o.x_rashmi_/" style="color: black; text-decoration: none;">
                <i class="fab fa-instagram insta blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic" href="https://www.linkedin.com/in/rashmi-ranjan-das-1726351a0/" style="color: black; text-decoration: none;">
                <i class="fab fa-linkedin linkedin blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic" href="https://github.com/WebDesign4New" style="color: black; text-decoration: none;">
                <i class="fab fa-github blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic" href="https://webdesign4new.github.io/homepage/" style="color: black; text-decoration: none;">
                <i class="fab fa-dribbble website blue-text"> </i>
              </a>
            </ul>
          </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601980099/Smita_Jha_mtrypb.jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar" style="height: 65%; width: 65%; box-shadow: 5px 5px 20px rgb(66 77 84)">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Smita Jha</h5>
        <p class="text-uppercase blue-text mb-0"><strong>Front-End Developer & Content Writer</strong></p>
        <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT Bhubaneswar</p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/profile.php?id=100005560818601" style="color: black; text-decoration: none;">
            <i class="fab fa-facebook-f fb blue-text"> </i>
          </a>
          <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/smita-jha-54b99a1b7/" style="color: black; text-decoration: none;">
            <i class="fab fa-linkedin linkedin blue-text"> </i>
          </a>
          <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/_smita.jha/?hl=en" style="color: black; text-decoration: none;">
            <i class="fab fa-instagram insta blue-text"> </i>
          </a>
          <a class="p-2 fa-lg ins-ic" href="https://github.com/Smita-jha48" style="color: black; text-decoration: none;">
            <i class="fab fa-github blue-text"> </i>
          </a>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601989516/Team%20Photo/Shovna_zvma0l.jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar" style="height: 65%; width: 65%; box-shadow: 5px 5px 20px rgb(66 77 84)">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Shovna Panda</h5>
        <p class="text-uppercase blue-text mb-0"><strong>Web Designer & Content Writer</strong></p>
        <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT Bhubaneswar</p>
          <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/shovna-panda-4277631b8" style="color: black; text-decoration: none;">
            <i class="fab fa-linkedin linkedin blue-text"> </i>
          </a>
          <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/__shovna__/" style="color: black; text-decoration: none;">
            <i class="fab fa-instagram insta blue-text"> </i>
          </a>
          <a class="p-2 fa-lg ins-ic" href="https://github.com/Shovna01" style="color: black; text-decoration: none;">
            <i class="fab fa-github blue-text"> </i>
          </a>
      </div>
      <div class="col-lg-4 col-md-4 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602103896/Team%20Photo/Suman_gyawbn.jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar" style="height: 60%; width: 65%; box-shadow: 5px 5px 20px rgb(66 77 84)">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Suman Patra</h5>
        <p class="text-uppercase blue-text mb-0"><strong>Web Designer & Content Writer</strong></p>
        <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT Bhubaneswar</p>
        <ul class="list-unstyled mb-0">
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/suman-patra-888a131b6/" style="color: black; text-decoration: none;">
                <i class="fab fa-linkedin linkedin tt blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/suman____patra/" style="color: black; text-decoration: none;">
                <i class="fab fa-instagram insta blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic" href="https://github.com/sumanpatra2000" style="color: black; text-decoration: none;">
                  <i class="fab fa-github blue-text"> </i>
              </a>
              <a class="p-2 fa-lg tw-ic" href="https://twitter.com/SumanPatra2000" style="color: black; text-decoration: none;">
                <i class="fab fa-twitter tt blue-text"> </i>
              </a>
        </ul>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601982252/Team%20Photo/Sobhan_c4gbad.jpg" class="rounded-circle z-depth-1"
              alt="Sample avatar" style="height: 63.5%; width: 63.5%; box-shadow: 5px 5px 20px rgb(66 77 84)">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Sobhan Kumar Rath</h5>
          <p class="text-uppercase blue-text mb-0"><strong>C++ Instructor</strong></p>
          <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT Bhubaneswar</p>
          <ul class="list-unstyled mb-0">
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/sobhan.in.others.out" style="color: black; text-decoration: none;">
              <i class="fab fa-facebook-f fb blue-text"> </i>
            </a>
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/sobhan-kumar-1a2b401a7" style="color: black; text-decoration: none;">
              <i class="fab fa-linkedin linkedin tt blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/sovii_skr/" style="color: black; text-decoration: none;">
              <i class="fab fa-instagram insta blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic" href="https://github.com/sovii003" style="color: black; text-decoration: none;">
                <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602269849/Team%20Photo/Jaydeep_2_sdl9dt.jpg" class="rounded-circle z-depth-1"
              alt="Sample avatar" style="height: 65%; width: 65%; box-shadow: 5px 5px 20px rgb(66 77 84)">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Jaydeep Kanungo</h5>
          <p class="text-uppercase blue-text mb-0"><strong>Arduino Instructor</strong></p>
          <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IGIT, Sarang</p>
          <ul class="list-unstyled mb-0">
              <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/jaydeep-kanungo-73b7671b8" style="color: black; text-decoration: none;">
                <i class="fab fa-linkedin linkedin tt blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/__j.a.y.d.e.e.p__/" style="color: black; text-decoration: none;">
                <i class="fab fa-instagram insta blue-text"> </i>
              </a>
              <a class="p-2 fa-lg ins-ic" href="https://github.com/jaydeep52" style="color: black; text-decoration: none;">
                  <i class="fab fa-github blue-text"> </i>
              </a>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
          <div class="avatar mx-auto">
            <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601989922/Team%20Photo/Pratik_yrzqfz.jpg" class="rounded-circle z-depth-1"
              alt="Sample avatar" style="height: 68%; width: 68%; box-shadow: 5px 5px 20px rgb(66 77 84)">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Pratik Mohanty</h5>
          <p class="text-uppercase blue-text mb-0"><strong>Web-Dev Instructor</strong></p>
          <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IGIT, Sarang</p>
          <ul class="list-unstyled mb-0">
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/pratik.mohanty.589" style="color: black; text-decoration: none;">
              <i class="fab fa-facebook-f fb blue-text"> </i>
            </a>
            <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/pratikmohanty08092001" style="color: black; text-decoration: none;">
              <i class="fab fa-linkedin linkedin tt blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic" href="https://github.com/MohantyPratik" style="color: black; text-decoration: none;">
                <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="avatar mx-auto">
            <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601982943/Team%20Photo/Rashmi_Ranjan_Das_uavlap.jpg" class="rounded-circle z-depth-1"
              alt="Sample avatar" style="height: 65%; width: 65%; box-shadow: 5px 5px 20px rgb(66 77 84)">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Rashmi Ranjan Das</h5>
          <p class="text-uppercase blue-text mb-0"><strong>Python Instructor</strong></p>
          <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT, Bhubaneswar</p>
          <ul class="list-unstyled mb-0">
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/rashmiranjan.das.75286" style="color: black; text-decoration: none;">
              <i class="fab fa-facebook-f fb blue-text"> </i>
            </a>
            <a class="p-2 fa-lg tw-ic" href="https://twitter.com/rox_rashmi" style="color: black; text-decoration: none;">
              <i class="fab fa-twitter tt blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/_r.o.x_rashmi_/" style="color: black; text-decoration: none;">
              <i class="fab fa-instagram insta blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic" href="https://www.linkedin.com/in/rashmi-ranjan-das-1726351a0/" style="color: black; text-decoration: none;">
              <i class="fab fa-linkedin linkedin blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic" href="https://github.com/WebDesign4New" style="color: black; text-decoration: none;">
              <i class="fab fa-github blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic" href="https://webdesign4new.github.io/homepage/" style="color: black; text-decoration: none;">
              <i class="fab fa-dribbble website blue-text"> </i>
            </a>
          </ul>
        </div>
      </div>
      <div class="row">
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602048957/Team%20Photo/brushankl_yhltri.jpg" class="rounded-circle z-depth-1"
                alt="Sample avatar" style="height: 35%; width: 35%; box-shadow: 5px 5px 20px rgb(66 77 84)">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Brushank Patra</h5>
            <p class="text-uppercase blue-text mb-0"><strong>Graphic Designer</strong></p>
            <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ITER, Bhubaneswar</p>
            <ul class="list-unstyled mb-0">
                <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/iambrushank" style="color: black; text-decoration: none;">
                    <i class="fab fa-facebook-f fb blue-text"> </i>
                  </a>
                  <a class="p-2 fa-lg tw-ic" href="https://twitter.com/iambrushank" style="color: black; text-decoration: none;">
                    <i class="fab fa-twitter tt blue-text"> </i>
                  </a>
                  <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/iambrushank/" style="color: black; text-decoration: none;">
                    <i class="fab fa-instagram insta blue-text"> </i>
                  </a>
                  <a class="p-2 fa-lg ins-ic" href="https://www.linkedin.com/in/brushank-patra-a440381b2/" style="color: black; text-decoration: none;">
                    <i class="fab fa-linkedin linkedin blue-text"> </i>
                  </a>
                  <a class="p-2 fa-lg ins-ic" href="https://github.com/BrushankPatra" style="color: black; text-decoration: none;">
                    <i class="fab fa-github blue-text"> </i>
                  </a>
            </ul>
            </div>
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601984055/Team%20Photo/Shreyas_nmjwyt.jpg" class="rounded-circle z-depth-1"
                alt="Sample avatar" style="height: 35%; width: 35%; box-shadow: 5px 5px 20px rgb(66 77 84)">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3" style="color: #00378a;">Shreyas PJ</h5>
            <p class="text-uppercase blue-text mb-0"><strong>ML/AI Volunteer</strong></p>
            <p class="article-content" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">IIIT, Bhubaneswar</p>
            <ul class="list-unstyled mb-0">
                <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/shrey.pj" style="color: black; text-decoration: none;">
                    <i class="fab fa-facebook-f fb blue-text"> </i>
                </a>
                <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/stany_la_20/" style="color: black; text-decoration: none;">
                    <i class="fab fa-instagram insta blue-text"> </i>
                </a>
                <a class="p-2 fa-lg tw-ic" href="https://www.linkedin.com/in/shreyas-pj-39523619b/" style="color: black; text-decoration: none;">
                    <i class="fab fa-linkedin linkedin tt blue-text"> </i>
                </a>
                <a class="p-2 fa-lg ins-ic" href="https://github.com/shreyaspj20" style="color: black; text-decoration: none;">
                    <i class="fab fa-github blue-text"> </i>
                  </a>
            </ul>
            </div>
        </div>
  </section>
</div>
{% endblock %}