{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<title>Contact | Learn Coding In Odia</title>
{% endblock %}

{% block content %}
<div class="container mt-3 mb-5">
    {% for message in messages %}
    {% if "Error" in message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {% endfor %}
    <div style="text-align: center;" class="mb-4">
        <h1 style="color:  #00378a;">Contact Us</h1>
    </div>
    <div class="mt-3 mb-5">
      <p class="article-content"><b>We are available to serve you 24 X 7. Drop a Mail Below.</b></p>
      <div class="article-content">
        <p class="article-content">
          <ul>
            <li>Have Doubts? Our Instructors are available 24 X 7.</li>
          </ul>
          <ul>
            <li>Need Career Counselling? We are there for you.</li>
          </ul>
          <ul>
            <li>Need any specific resources? One mail to us and you will have it in the Resources Section.</li>
          </ul>
          <ul>
            <li>Any Complains / Suggestions / Feedback? You are always welcomed.</li>
          </ul>
        </p>
      </div>
    </div>
    <form action="mail" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name"><b>Full Name</b></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
          </div>
          <div class="form-group col-md-6">
            <label for="email"><b>Email Address</b></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
          </div>
        </div>
        <div class="form-group">
          <label for="address"><b>Address</b></label>
          <input type="text" class="form-control" id="address" name="address" placeholder="Full Address">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone"><b>Phone Number</b></label>
              <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone Number">
            </div>
            <div class="form-group col-md-6">
              <label for="study"><b>Current Education</b></label>
              <input type="text" class="form-control" id="study" name="study" placeholder="E.g. Btech, 10+2 etc.">
            </div>
          </div>
          <div class="form-group">
            <label for="feedback"><b>Feedback/Suggestions/Request (If Any ?)</b></label>
            <textarea class="form-control" id="feedback" name="feedback" rows="5"></textarea>
          </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              <b>Agree to recieve future offers from us ?</b>
            </label>
          </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Submit Feedback</button>
        </div>
      </form>
      <div class="row" style="border: 1px solid black; padding: 2%; margin: 2%">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3743.1465147154636!2d85.78236441491975!3d20.252757486423906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a794e985622d%3A0x1e5468325c487d1b!2sPathaPadha.in!5e0!3m2!1sen!2sin!4v1603257479301!5m2!1sen!2sin" style="height: 24rem; width: 100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 mt-5">
          <div style="text-align: center;">
            <ul class="list-unstyled mb-0">
              <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p class="article-content">Bhubaneswar, Odisha, India</p>
              </li>

              <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p class="article-content">+91-8093430989</p>
              </li>

              <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p class="article-content">in.pathapadha@gmail.com</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
</div>
{% endblock %}