{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<title>Donate Us | Learn Coding In Odia</title>
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div style="text-align: center;">
        <p class="article-content"><b>Thankyou for showing your interests and giving your valuable time in helping us to Grow. </b></p>
    </div>
    <p class="article-content">
        We hope you are having a good time learning from our courses and the resources that we provide to you.
    </p>
    <p class="article-content">
        We are a small group of 12-15 persons (Btech Students) who are working day and night to make tutorials for their students and helping them to learn and grow. Everyone is giving their their full dedication towards this noble cause and are helping the students of Odisha in strengthening their technical knowledge.
    </p>
    <p class="article-content">
        The Instructors, The Founders, The Web Developers, The Content Writers and Everyone else now needs your help to grow themselves so that they can help you grow to your heights. 
    </p>
    <p class="article-content">
        If you like our tutorials and the resources that we provide,
    </p>
    <div style="text-align: center;">
        <p class="article-content">
            "<b>PLEASE COME FORWARD AND DONATE US ANY AMOUNT AS YOU LIKE SO THAT WE CAN GROW TOGETHER.</b>"
        </p>
    </div>
    <div style="text-align: center;">
        <div class='pm-button'>
            <span>
                <a href='https://www.payumoney.com/paybypayumoney/#/A916C097ADB7A010E0587C682169290F'><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/22.png' /></a>
                <form class="mt-2"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_FmVUM0GMDblRaI"> </script> </form>
            </span>
        </div>

        
    </div>
</div>
{% endblock %}