{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class="container mt-3 mb-3 section2" style="text-align: center">
    <h1 style="color:  #00378a;">Explore Our Courses</h1>
</div>
<div class="container">
    <p class="article-content">
      Our teams brings you <b>"THE FIRST EVER ON THE INTERNET"</b> coding tutorials in your own native language, <b>ODIA.</b>
    </p>
    <p class="article-content">
      The Instructors are well versed in their fields and thus have come forward to educate the native people in the native language. We are providing you with Coding Tutorials in the programming languages like <b>Python</b> and <b>C++</b> and many more are still to come.
    </p>
    <p class="article-content">So <b>GET READY</b> to fly high in your career by learning from our tutorials. Browse through the below videos and <b>Get Started</b>.</p> 
    </div>
  </div>   
<div class="container mt-4 section2">
    <h1 style="color:  #00378a;">Current Available And Ongoing Courses</h1>
    <h3 class="mt-5">Python Tutorials (In Odia)</h3>
    <div class="card-deck mb-2 mt-3">
        <div class="card">
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Python Tutorial #1</h5>
              <div href="#" class="badge badge-warning badge-pill">Trending</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item article-content"><b>Topic: </b>Introduction to Python </li>
              <li class="list-group-item article-content"><b>Instructor: </b>Rashmi Ranjan Das</li>
            </ul>
          </div>
          <div class="card" >
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Python Tutorial #2</h5>
              <div href="#" class="badge badge-danger badge-pill">Hot</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item article-content"><b>Topic: </b>Introduction to Python </li>
              <li class="list-group-item article-content"><b>Instructor: </b>Rashmi Ranjan Das</li>
            </ul>
          </div>
          <div class="card" >
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Python Tutorial #3</h5>
              <div href="#" class="badge badge-primary badge-pill">New</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item article-content"><b>Topic: </b>Introduction to Python </li>
              <li class="list-group-item article-content"><b>Instructor: </b>Rashmi Ranjan Das</li>
            </ul>
          </div>
    </div>
    <div style="text-align: center">
        <a href="#"><div class="btn btn-primary">Browse All</div></a>
    </div>
    <div class="mt-2 mb-4">
        <h3 class="mt-3 mb-3">C++ Tutorials (In Odia)</h3>
    <div class="card-deck">
        <div class="card">
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">C++ Tutorial #1</h5>
              <div href="#" class="badge badge-warning badge-pill">Trending</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item article-content"><b>Topic: </b>Introduction to C++ </li>
              <li class="list-group-item article-content"><b>Instructor: </b>Sobhan Kumar Rath</li>
            </ul>
          </div>
          <div class="card" >
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">C++ Tutorial #2</h5>
              <div href="#" class="badge badge-danger badge-pill">Hot</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item article-content"><b>Topic: </b>Introduction to C++ </li>
              <li class="list-group-item article-content"><b>Instructor: </b>Sobhan Kumar Rath</li>
            </ul>
          </div>
          <div class="card" >
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">C++ Tutorial #3</h5>
              <div href="#" class="badge badge-primary badge-pill">New</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item article-content"><b>Topic: </b>Introduction to C++ </li>
              <li class="list-group-item article-content"><b>Instructor: </b>Sobhan Kumar Rath</li>
            </ul>
          </div>
    </div>
    <div style="text-align: center">
        <a href="#"><div class="btn btn-primary">Browse All</div></a>
    </div>
    </div>
    <div class="mt-2 mb-4">
      <h3 class="mt-3 mb-3">HTML Tutorials (In Odia)</h3>
  <div class="card-deck">
      <div class="card">
          <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">HTML Tutorial #1</h5>
            <div href="#" class="badge badge-warning badge-pill">Trending</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item article-content"><b>Topic: </b>Introduction to HTML </li>
            <li class="list-group-item article-content"><b>Instructor: </b>Pratik Mohanty</li>
          </ul>
        </div>
        <div class="card" >
          <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">HTML Tutorial #2</h5>
            <div href="#" class="badge badge-danger badge-pill">Hot</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item article-content"><b>Topic: </b>Introduction to HTML </li>
            <li class="list-group-item article-content"><b>Instructor: </b>Pratik Mohanty</li>
          </ul>
        </div>
        <div class="card" >
          <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">HTML Tutorial #3</h5>
            <div href="#" class="badge badge-primary badge-pill">New</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item article-content"><b>Topic: </b>Introduction to HTML </li>
            <li class="list-group-item article-content"><b>Instructor: </b>Pratik Mohanty</li>
          </ul>
        </div>
  </div>
  <div style="text-align: center">
      <a href="#"><div class="btn btn-primary">Browse All</div></a>
  </div>
  </div>
  <div class="mt-2 mb-4">
    <h3 class="mt-3 mb-3">Arduino Tutorials (In Odia)</h3>
<div class="card-deck">
    <div class="card">
        <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Arduino Tutorial #1</h5>
          <div href="#" class="badge badge-warning badge-pill">Trending</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item article-content"><b>Topic: </b>Introduction to Arduino </li>
          <li class="list-group-item article-content"><b>Instructor: </b>Jaydeep Kanungo</li>
        </ul>
      </div>
      <div class="card" >
        <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Arduino Tutorial #2</h5>
          <div href="#" class="badge badge-danger badge-pill">Hot</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item article-content"><b>Topic: </b>Introduction to Arduino </li>
          <li class="list-group-item article-content"><b>Instructor: </b>Jaydeep Kanungo</li>
        </ul>
      </div>
      <div class="card" >
        <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Arduino Tutorial #3</h5>
          <div href="#" class="badge badge-primary badge-pill">New</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item article-content"><b>Topic: </b>Introduction to Arduino </li>
          <li class="list-group-item article-content"><b>Instructor: </b>Jaydeep Kanungo</li>
        </ul>
      </div>
</div>
<div style="text-align: center">
    <a href="#"><div class="btn btn-primary">Browse All</div></a>
</div>
</div>
    <div class="mt-2 mb-4">
        <h3 class="mt-3 mb-3">Coming Soon...</h3>
        <div class="list-group-flush">
          <div class="list-group-item">
            <p class="article-content mb-0"><i class="fab fa-css3 fa-2x mr-4 blue p-3 white-text rounded " style="color: orange;" aria-hidden="true"></i>Magic with CSS</p>
          </div>
          <div class="list-group-item">
            <p class="article-content mb-0"> <i class="fab fa-git fa-2x mr-4 mr-4 red p-3 white-text rounded" style="color: darkslateblue;" aria-hidden="true"></i>A Tour to Git</p>
          </div>
          <div class="list-group-item">
            <p class="article-content mb-0"><i class="fa fa-laptop fa-2x mr-4 mr-4 red p-3 white-text rounded" style="color: red;" aria-hidden="true"></i>Computer Basics</p>
          </div>
        </div>
    </div>
</div>
{% endblock %}