{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="container mt-3 section2">
    <h1>Explore Our Courses</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo consequatur expedita eos. Officia natus nesciunt molestiae qui eos minima inventore impedit nostrum, vitae suscipit maiores consequuntur animi. Inventore, aut dolorum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum id dolore ducimus qui hic eveniet, illo officiis nostrum facere dolores aliquid culpa, cum impedit reiciendis similique odio animi explicabo provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo consequatur expedita eos. Officia natus nesciunt molestiae qui eos minima inventore impedit nostrum, vitae suscipit maiores consequuntur animi. Inventore, aut dolorum?</p>
</div>
<div class="container mt-4 section2">
    <h1>Current Available And Ongoing Courses</h1>
    <h3 class="mt-5">Python Tutorials</h3>
    <div class="card-deck mb-2 mt-3">
        <div class="card">
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Python Tutorial #1</h5>
              <a href="#" class="badge badge-warning badge-pill">Trending</a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Topic: </b>introduction to Python </li>
              <li class="list-group-item"><b>Creator: </b>Shreyas PJ</li>
            </ul>
          </div>
          <div class="card" >
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Python Tutorial #2</h5>
              <a href="#" class="badge badge-danger badge-pill">Hot</a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
            </ul>
          </div>
          <div class="card" >
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Python Tutorial #3</h5>
              <a href="#" class="badge badge-primary badge-pill">New</a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
            </ul>
          </div>
    </div>
    <div style="text-align: center">
        <a href="#"><div class="btn btn-primary">Browse All</div></a>
    </div>
    <div class="mt-2 mb-4">
        <h3 class="mt-3 mb-3">C++ Tutorials</h3>
    <div class="card-deck">
        <div class="card">
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">C++ Tutorial #1</h5>
              <a href="#" class="badge badge-warning badge-pill">Trending</a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Topic: </b>introduction to Python </li>
              <li class="list-group-item"><b>Creator: </b>Shreyas PJ</li>
            </ul>
          </div>
          <div class="card" >
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">C++ Tutorial #2</h5>
              <a href="#" class="badge badge-danger badge-pill">Hot</a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
            </ul>
          </div>
          <div class="card" >
            <iframe class="card-image-top" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">C++ Tutorial #3</h5>
              <a href="#" class="badge badge-primary badge-pill">New</a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
            </ul>
          </div>
    </div>
    <div style="text-align: center">
        <a href="#"><div class="btn btn-primary">Browse All</div></a>
    </div>
    </div>
    <div class="mt-2 mb-4">
        <h3 class="mt-3 mb-3">Coming Soon...</h3>
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">C Programming</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Magic With HTML</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">A Tour To Git</h5>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}