{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602362422/Resources/Carousel1_a3d6ar.png" class="d-block w-100" alt="...">
      </div>
      <!--<div class="carousel-item">
        <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602360626/Resources/Carousel2_rqtvzy.png" class="d-block w-100" alt="...">
      </div>-->
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602589904/Resources/C_xzmbvs.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <svg width="2em" height="2em" style="color: white; margin-right: 60%;" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <svg width="2em" height="2em" style="color: white; margin-left: 60%;" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
    </a>
  </div>
<div class="container-fluid section2 text-center" style="padding:4%; background-image:url('https://res.cloudinary.com/pathapadha-in/image/upload/v1603736399/Back_mr5c80.png')">
  <h1 style="font-weight: 700; color: black">Presenting Before You Something Like Never Before</h1><br>
    <hr style="height:3px;border-width:1;color:black;background-color:black"><br>
    <h1 style="font-weight: 1000; font-family:sans-serif" class="awesome">THE FIRST EVER ODIA E-LEARNING PLATFORM FOR FREE</h1><br>
    <hr style="height:3px;border-width:1;color:black;background-color:black"><br>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h1 style="font-weight: 700; color: darkblue">Your Journey, Our Responsibility</h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h1 style="font-weight: 700; color:darkblue">Dream It, Believe It and Build It</h1>
      </div>
    </div>
</div>
<div class="container-fluid section1">
<div class="container mt-3">
    <div style="text-align: center;">
        <h1 style="margin-bottom: 2%; color:black">Our Offerings</h1>
    </div>
<div class="card-deck">
    <div class="card card1">
      <img class="card-img-top" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602258011/Resources/Offering1_rwxyvu.jpg" alt="Card image cap">
      <div class="card-body">
        <div style="text-align: center;">
          <h5 class="card-title">Programming Tutorial</h5>
        </div>
        <p class="card-text">Get Started with Coding with our free coding tutorials in <b>ODIA</b> for a better grasp on the concepts and there by Better Understanding. </p>
        <div style="text-align: center;"><a href="{% url 'explore' %}"><p >Tutorials</p></a></div>
      </div>
    </div>
    <div class="card card2">
      <img class="card-img-top" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602258011/Resources/Offering2_jiarbs.jpg" alt="Card image cap">
      <div class="card-body">
        <div style="text-align: center;">
          <h5 class="card-title">Technical Resources</h5>
        </div>
        <p class="card-text" >Along with the tutorials, we are providing you with Notes and Resources all at a single place. You can refer them and practice the questions.</p>
        <div style="text-align: center;"><a href="{% url 'resources' %}"><p >Notes and Resources</p></a></div>
      </div>
    </div>
    <div class="card card3">
      <img class="card-img-top" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602258012/Resources/Offering3_vjiy0v.jpg" alt="Card image cap">
      <div class="card-body">
        <div style="text-align: center;">
          <h5 class="card-title">24 X 7 Assistance</h5>
        </div>
        <p class="card-text" >May it be doubts, counselling, or any career related queries, "We Are Here For You All The Time to Help You Out on Your Journey". Contact Us Anytime.</p>
        <div style="text-align: center;"><a href="{% url 'contact' %}"><p >Contact Us</p></a></div>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<div>
<div class="container section2 mt-3" >
  <br>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="text-align: center;">
          <h2>Thought of the Moment</h2>
          <div class="text-center mt-4">
            <span><svg style="color: red;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/></svg> <span class="article-content"> Most Popular </span> <svg style="color: red;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/></svg></span>
          </div>
          <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded" style="margin-top: 17%;">
            <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
            <p class="mb-0 mt-2 font-italic">"{{quote.quote}}"</p>
            <footer class="blockquote-footer pt-4 mt-4 border-top">
                <cite title="Source Title">{{quote.name}}</cite>
            </footer>
          </blockquote>
        </div>


        {% if number != '0' %}
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <h2 class="text-center">Average Client Rating</h2>
            <div class="text-center">
              <h1 class="rating-num">
                {{avg}}      <span><svg style="margin-bottom: 1.9%; color:gold" width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg></span></h1>
              <div class="rating">
                &nbsp;&nbsp;<svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg> <b> {{number}} </b> 
              </div>
          </div>
          <div class="list-group">
              {% for review in reviews %}
              <div href="#" class="list-group-item list-group-item-action mt-4" style="background-color:lavender;">
              <div class="d-flex w-100 justify-content-between">
                  <b class="mb-1" style="color: #00378a;">{{review.name}} <small>({{review.city}})</small></b>
                  <span>
                      {% if review.rating == '5' %}
                          {% for i in 'abcde' %}
                          <svg style="color: 	#FFD700;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          {% endfor %}
                      {% endif %}
                  </span>
              </div>
              <p class="mb-1">{{review.review}}</small>
              </div>
              {% endfor %}
          </div>
          <div class="text-center">
            <a href="{% url 'review_page' %}"><div class="btn btn-primary">See More</div></a>
          </div>
        </div>
        {% else %}
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <h2 class="text-center">Average Client Rating</h2>
          <div class="text-center" style="margin-top: 17%;">
            <h4><i>There are no reviews yet. Please take your time and leave us a valuable feedback.</i></h4>
          </div>
          <div class="text-center" style="margin-top: 14%;">
            <a href="{% url 'review_page' %}"><div class="btn btn-primary">Give Review</div></a>
          </div>
        </div>
        {% endif %}

    </div>
</div>
</div>
<div class="container-fluid section3 mt-5 mb-5 pc-card">
    <div class="container mt-3">
    <div style="text-align: center;">
        <h1 style="margin-bottom: 2%; color:black">Our Top Instructors</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="card-flipper effect__hover" data-id="1">
            <div class="card__front">
              <div class="card card-01">
                <div class="profile-box-01">
                  <img class="card-img-top" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601982252/Team%20Photo/Sobhan_c4gbad.jpg" alt="Card image cap" style="height: 17rem;"> 
                </div>
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Sobhan Kumar Rath</h4>
                  <p class="card-text article-content">Finding Difficulty in Learning C++? Not Any More.</p>
                  <div class="btn btn-default text-uppercase">Explore</div>
                </div>
              </div>
            </div>

            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center">
                  <h4 class="card-title">Sobhan Kumar Rath</h4>
                  <p class="card-text article-content">You will surely have fun together while learning C++ with me. I always wanted to teach someone and i finally got a chance to do so.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-flipper effect__hover" data-id="1">
            <div class="card__front">
              <div class="card card-01">
                <div class="profile-box-01">
                  <img class="card-img-top" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602269849/Team%20Photo/Jaydeep_2_sdl9dt.jpg" alt="Card image cap" style="height: 17rem;">
                </div>
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Jaydeep Kanungo</h4>
                  <p class="card-text article-content" >Get into the world of Arduino with me</p>
                  <div  class="btn btn-default text-uppercase">Explore</div>
                </div>
              </div>
            </div>

            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center">
                  <h4 class="card-title">Jaydeep Kanungo</h4>
                  <p class="card-text article-content">Working on robotics has always been my passion. Do you have the same feeling? Lets get started.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-flipper effect__hover" data-id="1">
            <div class="card__front">
              <div class="card card-01">
                <div class="profile-box-01">
                  <img class="card-img-top" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601989922/Team%20Photo/Pratik_yrzqfz.jpg" alt="Card image cap" style="height: 17rem;">
                </div>
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Pratik Mohanty</h4>
                  <p class="card-text article-content" >Wanna know Magic of Websites using HTML? Join me.</p>
                  <div class="btn btn-default text-uppercase">Explore</div>
                </div>
              </div>
            </div>

            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center">
                  <h4 class="card-title">Pratik Mohanty</h4>
                  <p class="card-text article-content">Come and learn to create webpages from scratch and get into the magic of web development.</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
        <div class="container" style="text-align: center; margin-top:12%">
          <a href="{% url 'about' %}"><div class="btn btn-primary">View All Members</div></a>
        </div>  
    </div>
</div>

<!-- card Mobile view -->
<div class="container-fluid section3 mt-5 mb-5 mobile-card">
    <div class="container mt-3">
    <div style="text-align: center;">
        <h1 style="margin-bottom: 2%;">Our Top Instructors</h1>
    </div>
    <div class="row">
        <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601982252/Team%20Photo/Sobhan_c4gbad.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text article-content" >Finding Difficulty in Learning C++? Not Any More.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602269849/Team%20Photo/Jaydeep_2_sdl9dt.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text article-content" >Get into the world of Arduino and Robotics with me. :)</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601989922/Team%20Photo/Pratik_yrzqfz.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text article-content" >Wanna know Magic of Websites? Join me.</p>
            </div>
          </div>
      <div class="container mt-4" style="text-align: center;">
        <a href="{% url 'about' %}"><div class="btn btn-primary">View All Members</div></a>
      </div>  
    </div>
</div>

    </div>
    <div class="container section2 mt-5 mb-5">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: justify;">
              <div style="text-align: center;">
                <h3>More About Us</h3>
                <h1>Want to Know More?</h1>
              </div>
                <p style="font-size:large">We are a small group of 12-15 members working to give a kick-start to the career of the young generations by teaching them to code in their own native language i.e. <b>ODIA</b>. When we were at your age, we too faced the same difficulty and thus we dont want the future generation to suffer like we did. </p>
                <div class="container mt-3" style="text-align: center;">
                  <a href="{% url 'about' %}"><div class="btn btn-primary">More About Us</div></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                <img class="home-image" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602257767/Resources/AboutUs_gzbnsz.jpg" alt="Us" style="width: 100%;">
            </div>
        </div>
    </div>
    <div class="container-fluid section3 mt-5 mb-5">
        <div class="container">
            <section class="text-center my-5">
                <h2 class="h1-responsive font-weight-bold my-5">Words From Our Team</h2>
                <div class="wrapper-carousel-fix">
                <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel"
                    data-interval="false">
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">
                        <div class="testimonial">
                        <div class="avatar mx-auto mb-4">
                            <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601988702/Team%20Photo/Bhabatosh_bpkwds.jpg" class="rounded-circle img-fluid"
                            alt="Second sample avatar image" style="height: 23%; width: 23%">
                        </div>
                        <p>
                            <i class="fas fa-quote-left"></i>When I entered university life, things were chaotic and studying coding was a daunting task being new to the coding world.  So it was always self motivation, research and hard coding that drove me forth.From all this experience and with a zeal to simply it all for the brand new coders I present this endeavour of mine.
                            Welcome to be a part of our family!<i class="fas fa-quote-right"></i></p>
                        <h4 class="font-weight-bold">Bhabatosh Mahanta</h4>
                        <h6 class="font-weight-bold my-3">CEO & FOUNDER</h6>
                        </div>
                      </div>
                    <div class="carousel-item">
                        <div class="testimonial">
                        <div class="avatar mx-auto mb-4">
                            <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601982943/Team%20Photo/Rashmi_Ranjan_Das_uavlap.jpg" class="rounded-circle img-fluid"
                            alt="First sample avatar image" style="height: 23%; width: 23%">
                        </div>
                        <p>
                            <i class="fas fa-quote-left"></i>Taking a big step to pursue higher studies and stepping into Engineering, I faced many problems while learning to code. At Pathapadha.in, We believe if good tutorials and elaborate resources are provided at a single place, Anyone can learn to code with ease.<b>"ଜୟ ଜଗନ୍ନାଥ"(Jay Jagannath)</b> <i class="fas fa-quote-right"></i>
                        </p>
                        <h4 class="font-weight-bold">Rashmi Ranjan Das</h4>
                        <h6 class="font-weight-bold my-3">COO & CO-FOUNDER</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial">
                        <div class="avatar mx-auto mb-4">
                            <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601980099/Smita_Jha_mtrypb.jpg" class="rounded-circle img-fluid"
                            alt="Third sample avatar image" style="height: 23%; width: 23%">
                        </div>
                        <p>
                            <i class="fas fa-quote-left"></i>You will never know where your path will lead you to but you can definitely choose that path. I believe once you start showing dedication and do hardwork you can achieve anything in your life.<i class="fas fa-quote-right"></i></p>
                        <h4 class="font-weight-bold">Smita Jha</h4>
                        <h6 class="font-weight-bold my-3">CHIEF TECHNOLOGY OFFICER</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                      <div class="testimonial">
                      <div class="avatar mx-auto mb-4">
                          <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1601989516/Team%20Photo/Shovna_zvma0l.jpg" class="rounded-circle img-fluid"
                          alt="Third sample avatar image" style="height: 23%; width: 23%">
                      </div>
                      <p>
                        <i class="fas fa-quote-left"></i>Never Give Up! Be consistent and keep practicing. Consistency in the right path is the key to success. We are there to help in making you consistent in your career path.<i class="fas fa-quote-right"></i></p>
                      <h4 class="font-weight-bold">Shovna Panda</h4>
                      <h6 class="font-weight-bold my-3">BUSINESS ASSOCIATE</h6>
                      </div>
                   </div>
                  <div class="carousel-item">
                    <div class="testimonial">
                    <div class="avatar mx-auto mb-4">
                        <img src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602103896/Team%20Photo/Suman_gyawbn.jpg" class="rounded-circle img-fluid"
                        alt="Third sample avatar image" style="height: 23%; width: 23%">
                    </div>
                    <p>
                      <i class="fas fa-quote-left"></i>Education is power. In this fast moving world, Language should no longer be a barrier. All you need is passion and willingness to learn. 
                      Your zeal combined with our offerings provide the most powerful and first hand experience to conquer the odds.<i class="fas fa-quote-right"></i></p>
                    <h4 class="font-weight-bold">Suman Patra</h4>
                    <h6 class="font-weight-bold my-3">CHIEF DESIGNER</h6>
                    </div>
                  </div> 
                    </div>
                    <a class="carousel-control-prev left carousel-control testimonial-btn" href="#carousel-example-1" role="button"
                    data-slide="prev">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                    </a>
                    <a class="carousel-control-next right carousel-control testimonial-btn" href="#carousel-example-1" role="button"
                    data-slide="next">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    </a>
                </div>
                </div>
            </section>
        </div>
        </div>
        <div class="container section2 mt-5 mb-5 mobile-article1">
            <div style="text-align: center;">
                <h1>Our Top Resources</h1>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                    <h3>Python Tutorials</h3>
                    <p style=" font-size:large">We have brought you Tutorials on the most popular programming language of the world which is widely used i.e. <b>PYTHON</b>. The entire course is in your native language <b>ODIA</b>. A course which you will find nowhere on the Internet. So, Whom are you waiting for? Lets Get Started.</p>
                    <div class="container mt-4" style="text-align: center;">
                        <a href="{% url 'explore' %}"><div class="btn btn-primary">Get Started</div></a> 
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 " style="text-align: center;">
                    <img style="width: 100%;" class="home-image" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602260048/Resources/Python_Tutorials_mdez6w.png" alt="Us">
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                    <img style="width: 100%;" class="home-image" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602263326/Resources/Quiz_auto_x2_jxeqlx.jpg" alt="Us">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                    <h3>Practice and Exams</h3>
                    <p style=" font-size:large">We have brought to you Weekly as well as Monthly Quizzes to brush up your knowledge and skills. In addition to that we have also provided you Online IDEs so that you can practice on your own. You can find everything here at the cost of just 1 Click and at no extra cost.</p>
                    <div class="container mt-4" style="text-align: center;">
                      <a href="{% url 'exam' %}"><div class="btn btn-primary">Get Started</div></a>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                    <h3>Notes and Books</h3>
                    <p style=" font-size:large">Have you ever encountered tutorials, Notes and Resources at the same place? We have made all the facilities available for you entirely free of cost. You can enjoy the Tutorials as well as the resources collected from all over the Internet at one place. Have a good time accessing the resources and Learning from us.</p>
                    <div class="container mt-4" style="text-align: center;">
                      <a href="{% url 'resources' %}"><div class="btn btn-primary">Access Resources</div></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                    <img style="width: 100%;" class="home-image" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602263928/Resources/resources_an4r1c.jpg" alt="Us">
                </div>
            </div>
        </div>

        <!-- Mobile View For Articles -->
        <div class="container-fluid section2 mt-5 mb-5 mobile-article">
            <div style="text-align: center;">
                <h1>Our Top Resources</h1>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                    <h3>Python Tutorials</h3>
                    <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                        <img style="width: 100%;" class="home-image" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602260048/Resources/Python_Tutorials_mdez6w.png" alt="Us">
                    </div>
                    <p style=" font-size:large">We have brought you Tutorials on the most popular programming language of the world which is widely used i.e. <b>PYTHON</b>. The entire course is in your native language <b>ODIA</b>. A course which you will find nowhere on the Internet. So, Whom are you waiting for? Lets Get Started.</p>
                    <div class="container mt-4" style="text-align: center;">
                      <a href="{% url 'explore' %}"><div class="btn btn-primary">Get Started</div></a> 
                  </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                    <h3>Practice and Exams</h3>
                    <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                        <img style="width: 100%;" class="home-image" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602263326/Resources/Quiz_auto_x2_jxeqlx.jpg" alt="Us">
                    </div>
                    <p style=" font-size:large">We have brought to you Weekly as well as Monthly Quizzes to brush up your knowledge and skills. In addition to that we have also provided you Online IDEs so that you can practice on your own. You can find everything here at the cost of just 1 Click and at no extra cost.</p>
                    <div class="container mt-4" style="text-align: center;">
                      <a href="{% url 'exam' %}"><div class="btn btn-primary">Get Started</div></a> 
                  </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                    <h3>Notes and resources</h3>
                    <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: center;">
                        <img style="width: 100%; height: 82%" class="home-image" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602263928/Resources/resources_an4r1c.jpg" alt="Us">
                    </div>
                    <p style=" font-size:large">Have you ever encountered tutorials, Notes and Resources at the same place? We have made all the facilities available for you entirely free of cost. You can enjoy the Tutorials as well as the resources collected from all over the Internet at one place. Have a good time accessing the resources and Learning from us.</p>
                    <div class="container mt-4" style="text-align: center;">
                      <a href="{% url 'resources' %}"><div class="btn btn-primary">Access Resources</div></a>
                    </div>
                </div>
            </div>
        </div>

        <!----------------------------------------------------->

        <div class="container">
          <h2 class="text-center">Google Reviews</h2>
          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
          <div class="elfsight-app-51935350-0cf2-4c15-b978-f1502cc787c8"></div>
        </div>
    </div>
</div>
{% endblock %}