{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<title>Resources | Learn Coding In Odia</title>
{% endblock %}

{% block content %}
<div class="container mt-3 section2" style="text-align: center">
    <h1 style="color:  #00378a;">Resources</h1>
</div>
<div class="container mt-1">
    <div class="container">
        <br>
        <ul class="nav nav-tabs reset-nav">
          <li class="nav-item">
            <a class="nav-link reset-nav" data-toggle="tab" href="#menu1">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link reset-nav" data-toggle="tab" href="#menu2">C++</a>
          </li>
          <li class="nav-item">
            <a class="nav-link reset-nav" data-toggle="tab" href="#menu3">ML/AI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link reset-nav" data-toggle="tab" href="#menu4">Others</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="home" class="container tab-pane active mb-4"><br>
            <h3 class="mb-3">Welcome to the Resources Section</h3>
            <div style="text-align: center;">
              <p style="font-size: large;"><i>"Education is the passport to the future, for tomorrow belongs to those who prepare for it today." – <b>Malcolm X</b></i></p>
            </div>
            <p class="article-content">We as a team who provide the students with technical knowledge will never step back in providing the most important thing that they need in their study life, <b>"Resources and Study Materials"</b></p>
            <div class="img-container mb-2" style="text-align: center;">
              <img class="article-img" style="height: 70%;" src="https://res.cloudinary.com/pathapadha-in/image/upload/v1602355422/Resources/Word_Art_1_jipilk.jpg" alt="1001">
            </div>
          <p class="article-content mb-4">
            Browse through the above categories to access the resources and download them.
          </p>
          </div>
          <div id="menu1" class="container tab-pane fade"><br>
            {% for python in pythons %}
                <ul>
                    <a href={{python.link}}><li>{{python.name}}</li></a>
                </ul>
            {% endfor %}
          </div>
          <div id="menu2" class="container tab-pane fade"><br>
            {% for ele in cplusplus %}
                <ul>
                    <a href={{ele.link}}><li>{{ele.name}}</li></a>
                </ul>
            {% endfor %}
          </div>
          <div id="menu3" class="container tab-pane fade"><br>
            {% for ele in mlai %}
                <ul>
                    <a href={{ele.link}}><li>{{ele.name}}</li></a>
                </ul>
            {% endfor %}
          </div>
          <div id="menu4" class="container tab-pane fade"><br>
            {% for ele in others %}
                <ul>
                    <a href={{ele.link}}><li>{{ele.name}}</li></a>
                </ul>
            {% endfor %}
          </div>
        </div>
      </div>
</div>
{% endblock %}